.checkbox {
  position: relative;
  padding-left: 24px;

  :global(.ant-checkbox) {
    position: absolute;
    top: 0;
    left: 0;
  }

  :global(.ant-checkbox-inner) {
    width: 20px;
    height: 20px;
    border-radius: 50%;

    &::after {
      inset-inline-start: 5px;
    }
  }
}
