.ant-select-item.ant-select-item-option.ant-select-item-option-disabled {
  .ant-select-item-option-content {
    svg {
      path {
        fill: #bfbfbf;
      }
    }

    .ant-typography.css-dev-only-do-not-override-111vlnv {
      color: #bfbfbf;
    }
  }
}
