/* Custom styles for TinyMCE TextEditor component */

body {
  .tox-toolbar__overflow {
    button {
      &:hover,
      &:focus {
        background-color: #f0f3fb !important;
        cursor: pointer;

        svg {
          fill: #0146c5 !important;
        }
      }
    }
  }

  .tox-tiered-menu {
    .tox-collection__item--active {
      background-color: #f0f3fb !important;
      cursor: pointer;
    }
  }
}
