.customTable {
  border-radius: 12px;

  &.shadow {
    box-shadow: 0 0 16px 0 rgb(49 62 88 / 3%);
  }

  :global(thead .ant-table-cell) {
    color: #9e9e9e !important;
    font-weight: 500 !important;
    font-size: 10px;
    text-transform: uppercase;
    background: #fff !important;
  }

  :global(.ant-table-column-sorters) {
    gap: 4px;
    justify-content: flex-start !important;
  }
}
