.uploadImagesList {
  :global(.ant-upload) {
    width: 100% !important;
    height: 200px !important;
  }

  :global(.ant-upload-list) {
    max-height: 200px;
    overflow: auto;
  }
}

.centeredSpace {
  align-items: center;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.centeredButtons {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
}
