.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.previewImage {
  height: 100%;
  object-fit: contain;
}

.closePreviewButton {
  position: absolute;
  top: -24px;
  right: 0;
}
