.printLabelSmallTextRight {
  margin: 0;
  color: #000;
  font-weight: 700;
  font-size: 12px;
  text-align: right;
}

.printLabelSmallTextCenter {
  margin: 0;
  color: #000;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
}

.printLabelSmallTextCenterPaddingLeft {
  margin: 0;
  padding-left: 4px;
  color: #000;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
}

.printLabelMediumTextCenter {
  margin: 0;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

.printLabelMediumTextBlock {
  display: block;
  margin: 0;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

.printLabelLargeTextBlock {
  display: block;
  margin: 0;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.printLabelLargeTextCenter {
  margin: 0;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.customFormItem {
  :global(.ant-form-item-control-input) {
    min-height: unset;
  }
}
